<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FlaUI.Core" version="5.0.0" targetFramework="net48" />
  <package id="FlaUI.UIA2" version="5.0.0" targetFramework="net48" />
  <package id="FlaUI.UIA3" version="5.0.0" targetFramework="net48" />
  <package id="Interop.UIAutomationClient" version="10.19041.0" targetFramework="net48" />
  <package id="System.CodeDom" version="8.0.0" targetFramework="net48" />
  <package id="System.Management" version="8.0.0" targetFramework="net48" />
</packages>